[Desktop Entry]
Name=SDL-Ball-Remastered
GenericName=Breakout/BrickBreaker
Exec=sdl-ball-remastered
Icon=sdl-ball-remastered
Type=Application
Comment=A DX-Ball/MegaBall/Breakout clone
Categories=Game;ActionGame;ArcadeGame;
